<h1> Articles Listing Page </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |art| %>
      <tr>
        <td><%= art.title %></td>
        <td><%= art.description %></td>
        <td>Placeholder</td>
      </tr>
    <% end %>
  </tbody>
</table>